<?xml version="1.0"?>
<IDESettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ScopeJobListUserColumns>Type,Name,UserName,Priority,Token,SubmitTime,StartTime,EndTime,RunTime,JobId</ScopeJobListUserColumns>
  <DataLakeJobListUserColumns>Name,UserName,Priority,SubmitTime,StartTime,EndTime,RunTime,JobId</DataLakeJobListUserColumns>
  <VertexTableUserColumns>Name,TotalDataRead,TotalDataWritten,Runtime,Machine,YarnContainerId,State,ExitStatus,ExitCode,FailureType,CreationReason,ScheduleLatency,ProcessCreateLatency,PnQueueLatency,Guid,Version,CreatorGuid,VersionCreatedTime,ProcessCreateStartTime,ProcessQueuedTime,ProcessStartTime,ProcessCompleteTime,HighPriorityTime</VertexTableUserColumns>
  <EnableSQMLog>true</EnableSQMLog>
  <IDESettingWindowWidth>750</IDESettingWindowWidth>
  <IDESettingWindowHeight>520</IDESettingWindowHeight>
  <EnableLegacyRuntime>false</EnableLegacyRuntime>
  <EnablePromoteWarning>false</EnablePromoteWarning>
  <EnableErrorMark>true</EnableErrorMark>
  <EnableDebugScope>false</EnableDebugScope>
  <EnableNewCompilerService>false</EnableNewCompilerService>
  <EnableFlighting>false</EnableFlighting>
  <TempFolderMigration>completed</TempFolderMigration>
  <EnableTempAutoCleaner>false</EnableTempAutoCleaner>
  <TempAutoCleanerFileExpireDays>30</TempAutoCleanerFileExpireDays>
  <TempAutoCleanerExlcudeList />
  <TempAutoCleanerWorkCyclesMinutes>10</TempAutoCleanerWorkCyclesMinutes>
  <TempAutoCleanerStartSnooze>true</TempAutoCleanerStartSnooze>
  <TempAutoCleanerRunOncePerSession>true</TempAutoCleanerRunOncePerSession>
  <TempAutoCleanerEmulationOnly>true</TempAutoCleanerEmulationOnly>
  <TempAutoCleanerEnableLog>true</TempAutoCleanerEnableLog>
  <BugInjectionPattern />
  <EnableDiagnoseDebugLog>false</EnableDiagnoseDebugLog>
  <EnableLogToConsole>false</EnableLogToConsole>
  <EnableIntellisenseMessageCenter>false</EnableIntellisenseMessageCenter>
  <EnableIsolatedProcessForCompile>true</EnableIsolatedProcessForCompile>
  <EnableSQMUpload>true</EnableSQMUpload>
  <EnableSQMDebugLog>false</EnableSQMDebugLog>
  <EnableCompileResultViewEx>true</EnableCompileResultViewEx>
  <CommandLineCompile>false</CommandLineCompile>
  <EnableScriptGuid>true</EnableScriptGuid>
  <EnableAutoUpgrade>true</EnableAutoUpgrade>
  <EnableAsyncIntellisenseEx>true</EnableAsyncIntellisenseEx>
  <EnableBajaFeature>false</EnableBajaFeature>
  <EnableCosmosRuntimeAutoSync>true</EnableCosmosRuntimeAutoSync>
  <MaxReceivedMessageSize>67108864</MaxReceivedMessageSize>
  <SendTimeoutMinutes>10</SendTimeoutMinutes>
  <CDSServiceAddress>https://64.4.8.13:81/StoreService.svc</CDSServiceAddress>
  <UseDefaultEncodedUser>true</UseDefaultEncodedUser>
  <EnableAdvanceFeature>true</EnableAdvanceFeature>
  <Proxy>&lt;noproxy&gt;</Proxy>
  <PersistedInstalltionRoot>C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\Extensions\Microsoft\ADL Tools\2.2.5000.0</PersistedInstalltionRoot>
  <TemporaryDirectory>C:\code\NUnit.StaticExpect\DataLakeTemp</TemporaryDirectory>
  <USqlLocalRunMetaDataDirectory>C:\Users\davyd\AppData\Local\USQLDataRoot</USqlLocalRunMetaDataDirectory>
  <LocalRunParallelism>1</LocalRunParallelism>
  <NumberOfNodesForJobGraph>800</NumberOfNodesForJobGraph>
  <NumberOfRowsForPreview>100</NumberOfRowsForPreview>
  <SaveJobLocation>c:\</SaveJobLocation>
  <SelectedJobStatus>None</SelectedJobStatus>
  <MyJobsOnly>false</MyJobsOnly>
  <DiagnoseAllCheckDataSkews>true</DiagnoseAllCheckDataSkews>
  <DiagnoseAllCheckCompilerWarnings>true</DiagnoseAllCheckCompilerWarnings>
  <DefaultNodeContent>Statements</DefaultNodeContent>
  <DefaultView>Script</DefaultView>
</IDESettings>